<!-- Proyectos-->
<div class="card m-2 shadow">
  <div class="card-body">
    <h4 class="card-title">
      Proyectos
      <!-- botón modal agregar -->
      <button
        type="button"
        class="btn btn-secondary btn-sm rounded-circle shadow"
        data-bs-toggle="modal"
        data-bs-target="#modalProyecto"
        (click)="logrosModal.onAgregar()"
        *ngIf="isLogged"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </h4>
    <!-- 1 proyecto -->
    <div class="row" *ngFor="let proyecto of proyectoList">
      <div class="col">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                [src]="proyecto.imgUrl"
                class="img-fluid rounded-start border"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ proyecto.titulo }}</h5>
                <p class="card-text">
                  {{ proyecto.descripcion }}
                </p>
                <a [href]="proyecto.webUrl" class="card-link">Página</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 align-self-center">
        <!-- botón modal editar -->
        <button
          type="button"
          class="btn btn-secondary btn-sm rounded-circle shadow"
          data-bs-toggle="modal"
          data-bs-target="#modalProyecto"
          (click)="logrosModal.onEditar(proyecto)"
          *ngIf="isLogged"
        >
          <i class="fa-solid fa-pencil"></i>
        </button>

        <!-- Botón eliminar -->
        <button
          type="button"
          class="btn btn-secondary btn-sm rounded-circle"
          (click)="onEliminar(proyecto.id)"
          *ngIf="isLogged"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<app-logros-modal
  #logrosModal
  (eventProyecto)="cargarProyectos()"
></app-logros-modal>
