<!-- Proyectos-->
<div class="card m-2 shadow">
  <div class="card-body">
    <h4 class="card-title">
      Proyectos
      <button type="button" class="btn btn-secondary btn-sm rounded-circle">
        <i class="fa-solid fa-plus"></i>
      </button>
    </h4>
    <!-- 1 proyecto -->
    <div class="row" *ngFor="let logro of logrosList">
      <div class="col">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                [src]="logro.img"
                class="img-fluid rounded-start border"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{logro.nombre}}</h5>
                <p class="card-text">
                  {{logro.descripcion}}
                </p>
                <a [href]="logro.paginaUrl" class="card-link">Página</a>
                <a [href]="logro.repoUrl" class="card-link">Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 align-self-center">
        <button type="button" class="btn btn-secondary btn-sm rounded-circle">
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-sm rounded-circle">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
