<body class="bg-primary bg-gradient bg-opacity-25">
  <app-menu-navegacion></app-menu-navegacion>
  <main class="px-5">
    <app-encabezado [persona]="portfolio.persona"></app-encabezado>
    <app-acerca-de [persona]="portfolio.persona"></app-acerca-de>
    <app-experiencia
      [experienciaList]="portfolio.experiencias"
    ></app-experiencia>
    <app-educacion [educacionList]="portfolio.educaciones"></app-educacion>
    <app-aptitudes [tecnologiaList]="portfolio.tecnologias"></app-aptitudes>
    <app-logros [proyectoList]="portfolio.proyectos"></app-logros>
  </main>
</body>
