<body class="portfolio-bg">
  <app-menu-navegacion
    [isLogged]="isLogged"
    (event)="comprobarSesion()"
  ></app-menu-navegacion>
  <main class="px-5">
    <app-encabezado
      [persona]="portfolio.persona"
      [isLogged]="isLogged"
      (onUpdatePersona)="updatePersona($event)"
    ></app-encabezado>
    <app-acerca-de
      [persona]="portfolio.persona"
      [isLogged]="isLogged"
      (onUpdateAcercaDe)="updatePersona($event)"
    ></app-acerca-de>
    <app-experiencia
      [isLogged]="isLogged"
      [experienciaList]="portfolio.experiencias"
    ></app-experiencia>
    <app-educacion
      [educacionList]="portfolio.educaciones"
      [isLogged]="isLogged"
    ></app-educacion>
    <app-aptitudes
      [tecnologiaList]="portfolio.tecnologias"
      [isLogged]="isLogged"
    ></app-aptitudes>
    <app-logros
      [proyectoList]="portfolio.proyectos"
      [isLogged]="isLogged"
    ></app-logros>
  </main>
</body>
