<!-- Hard skills & Soft skills-->
<div class="card m-2 shadow">
  <div class="card-body">
    <h4 class="card-title">
      Hard skills & Soft skills
      <button type="button" class="btn btn-secondary btn-sm rounded-circle">
        <i class="fa-solid fa-plus"></i>
      </button>
    </h4>
    <div class="row m-4 text-center" *ngFor="let aptitud of aptitudesList">
      <div class="col-11">
        <ul class="list-unstyled">
          <li class="h5">{{aptitud.nombre}}</li>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              [ngStyle]="{'width': aptitud.progreso + '%'}"
              [attr.aria-valuenow]="aptitud.progreso"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </ul>
      </div>
      <div class="col align-self-center">
        <button type="button" class="btn btn-secondary btn-sm rounded-circle">
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-sm rounded-circle">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
