<!-- Experiencia -->
<div class="card m-2 shadow">
  <div class="card-body">
    <h4 class="card-title">
      Experiencias
      <!-- botón modal agregar -->
      <button
        type="button"
        class="btn btn-secondary btn-sm rounded-circle shadow"
        data-bs-toggle="modal"
        data-bs-target="#modalExperiencia"
        (click)="experienciaModal.onAgregar()"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </h4>
    <!-- ngFor experiencias -->
    <div class="row" *ngFor="let experiencia of experienciaList">
      <div class="col-2 m-auto">
        <div class="row">
          <img
            [src]="experiencia.imgUrl"
            class="img-fluid"
            alt="imagen de experiencia"
          />
        </div>
        <div class="row">
          <span class="text-center text-muted"
            >{{ experiencia.inicio }} - {{ experiencia.fin }}</span
          >
        </div>
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <li class="h4">{{ experiencia.posicion }}</li>
          <li>
            <em>{{ experiencia.compania }}</em>
          </li>
          <li class="text-muted">
            {{ experiencia.descripcion }}
          </li>
        </ul>
      </div>
      <div class="col-1 align-self-center">
        <!-- botón modal editar -->
        <button
          type="button"
          class="btn btn-secondary btn-sm rounded-circle shadow"
          data-bs-toggle="modal"
          data-bs-target="#modalExperiencia"
          (click)="experienciaModal.onEditar(experiencia)"
        >
          <i class="fa-solid fa-pencil"></i>
        </button>
        <!-- Botón eliminar -->
        <button
          type="button"
          class="btn btn-secondary btn-sm rounded-circle"
          (click)="onEliminar(experiencia.id)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<app-experiencia-modal
  #experienciaModal
  (eventData)="cargarListaExperiencias()"
></app-experiencia-modal>
