<!-- Experiencia -->
<div class="card m-2 shadow">
  <div class="card-body">
    <h4 class="card-title">
      Experiencia
      <button type="button" class="btn btn-secondary btn-sm rounded-circle">
        <i class="fa-solid fa-plus"></i>
      </button>
    </h4>
    <div class="row">
      <div class="col-2 text-muted text-center align-self-center">
        2020 - Actualidad
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <li class="h4">Desarrollador de software Jr.</li>
          <li><em>Facebook, Tucumán</em></li>
          <li class="text-muted">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia,
            obcaecati recusandae deserunt quae repellat natus illo perferendis
            dolorem nostrum et vitae odit, dolor, nemo quod esse vero aperiam
            iusto ipsa?
          </li>
        </ul>
      </div>
      <div class="col-1 align-self-center">
        <button type="button" class="btn btn-secondary btn-sm rounded-circle">
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-sm rounded-circle">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-2 text-muted text-center align-self-center">
        2016 - 2020
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <li class="h4">Tecnico reparador de pc</li>
          <li><em>Electronica Universal, Tucumán</em></li>
          <li class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            libero atque ut officia ab, laborum possimus in harum. Repellendus
            quis quas maiores dolor a possimus explicabo quisquam quae impedit
            alias.
          </li>
        </ul>
      </div>
      <div class="col-1 align-self-center">
        <button type="button" class="btn btn-secondary btn-sm rounded-circle">
          <i class="fa-solid fa-pencil"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-sm rounded-circle">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
