<section class="login-bg vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-lg rounded-5 bg-light">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Iniciar sesion a mi portfolio</h3>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
              <div class="form-floating mb-4">
                <input
                  type="text"
                  class="form-control form-control-lg bg-light"
                  id="floatingUsuario"
                  placeholder="usuario"
                  formControlName="nombreUsuario"
                  [ngClass]="{
                    'is-invalid': NombreUsuarioInvalid,
                    'is-valid': NombreUsuarioValid
                  }"
                />
                <label for="floatingUsuario">Usuario</label>
                <div *ngIf="NombreUsuarioInvalid">
                  <p
                    *ngIf="NombreUsuario?.hasError('required')"
                    class="text-danger"
                  >
                    El nombre de usuario es requerido.
                  </p>
                  <p
                    *ngIf="NombreUsuario?.hasError('minlength')"
                    class="text-danger"
                  >
                    El nombre de usuario debe ser de 5 o más caracteres.
                  </p>
                </div>
              </div>

              <div class="form-floating mb-4">
                <input
                  type="password"
                  class="form-control form-control-lg bg-light"
                  id="floatingPassword"
                  placeholder="password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': PaswwordInvalid,
                    'is-valid': PaswwordValid
                  }"
                />
                <label for="floatingPassword">Contraseña</label>
                <div *ngIf="PaswwordInvalid">
                  <p *ngIf="Password?.hasError('required')" class="text-danger">
                    La contraseña es requerida.
                  </p>
                  <p
                    *ngIf="Password?.hasError('minlength')"
                    class="text-danger"
                  >
                    La contraseña debe ser de 5 o más caracteres.
                  </p>
                </div>
              </div>

              <button
                class="btn btn-primary btn-lg btn-block"
                type="submit"
                [disabled]="form.invalid"
              >
                Iniciar sesión
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
