<!-- Perfil -->
<div class="card m-2 shadow">
  <img [src]="miPortfolio.fondoPerfil" class="card-img-top" alt="..." />
  <div class="card-body">
    <div class="container marco-perfil">
      <div class="row row-cols-4 my-2">
        <div class="col">
          <img
            [src]="miPortfolio.fotoPerfil"
            alt=""
            class="rounded rounded-circle border border-4 border-white border-opacity-75 shadow w-100"
          />
        </div>
        <div class="col align-self-end">
          <button type="button" class="btn btn-secondary btn-sm rounded-circle">
            <i class="fa-solid fa-pencil"></i>
          </button>
        </div>
      </div>
    </div>
    <h1 class="card-title">{{miPortfolio.nombre}}</h1>
    <h3 class="card-subtitle mb-2 text-muted">{{miPortfolio.posicion}}</h3>
    <p class="card-text">{{miPortfolio.ubicacion}}</p>
  </div>
</div>
