<!-- Perfil -->
<div class="card m-2 shadow">
  <!-- Imagen fondo de perfil -->
  <img [src]="persona.bannerUrl" class="card-img-top" alt="..." />
  <div class="card-body">
    <div class="container marco-perfil">
      <div class="row justify-content-start">
        <div class="col-auto align-self-center">
          <!-- Foto de perfil con botón -->
          <div class="position-relative">
            <img
              [src]="persona.fotoUrl"
              alt="foto de perfil"
              class="img-thumbnail rounded rounded-circle foto-perfil"
            />
            <!-- Botón  -->
            <div class="position-absolute bottom-0 end-0">
              <button
                type="button"
                class="btn btn-secondary btn-sm rounded-circle shadow"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- Información personal -->
        <div class="col-auto align-self-end">
          <h1 class="card-title">{{persona.apellido}}, {{ persona.nombre }}</h1>
          <h3 class="card-subtitle mb-2 text-muted">
            {{ persona.profesion }}
          </h3>
          <p class="card-text fs-4">{{ persona.ubicacion }}</p>
        </div>
        <div class="col-auto align-self-end">
          <button
            type="button"
            class="btn btn-secondary btn-sm rounded-circle shadow"
          >
            <i class="fa-solid fa-pencil"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>