<!-- Acerca de -->
<div class="card m-2 shadow">
  <div class="card-body">
    <h4 class="card-title">
      Acerca de
      <button type="button" class="btn btn-secondary btn-sm rounded-circle">
        <i class="fa-solid fa-pencil"></i>
      </button>
    </h4>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nemo
      doloremque cum, necessitatibus labore iusto mollitia amet explicabo
      consequatur dolor aperiam rerum dolore temporibus quaerat earum facilis
      tempore minima. Saepe?
    </p>
  </div>
</div>
