<!-- modal editar -->
<div
  class="modal modal-lg fade"
  id="modalExperiencia"
  tabindex="-1"
  aria-labelledby="experienciaModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary bg-gradient text-white">
        <h1 class="modal-title fs-5" id="experienciaModalLabel">Experiencia</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body bg-light">
        <!-- form experiencia de mi-->
        <form [formGroup]="formExperiencia">
          <!-- posicion -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="posicionInput"
              placeholder="posicion"
              formControlName="posicion"
            />
            <!-- [ngClass]="{
                'is-invalid': posicionInvalid
              }" -->
            <label for="posicionInput">Posicion</label>
            <!-- <div *ngIf="this.posicionInvalid">
              <div
                *ngIf="posicion?.getError('required')"
                class="text-danger text-center"
              >
                Por favor ingrese una posición
              </div>
            </div> -->
          </div>
          <!-- compañia -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="companiaInput"
              placeholder="compania"
              formControlName="compania"
            />
            <label for="companiaInput">Compañia</label>
          </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="descripcionInput"
              placeholder="descripcion"
              formControlName="descripcion"
              style="height: 100px"
            ></textarea>
            <label for="descripcionInput">Descripcion</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="imgUrlInput"
              placeholder="imgUrl"
              formControlName="imgUrl"
            />
            <label for="imgUrlInput">URL imagen</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="webUrlInput"
              placeholder="webUrl"
              formControlName="webUrl"
            />
            <label for="webUrlInput">URL web</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="month"
              class="form-control"
              id="inicioInput"
              placeholder="inicio"
              formControlName="inicio"
            />
            <label for="inicioInput">Inicio</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="month"
              class="form-control"
              id="finInput"
              placeholder="fin"
              formControlName="fin"
            />
            <label for="finInput">Finalizacion</label>
          </div>
        </form>
        <!-- fin de form -->
      </div>
      <div class="modal-footer bg-secondary bg-opacity-25">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="onSubmit()"
          data-bs-dismiss="modal"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- fin modal -->
