<header class="sticky-top">
  <!-- navbar principal -->
  <nav class="navbar navbar-expand navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="../assets/img/APLogo.png"
          alt=""
          width="150"
          height=""
          class="d-inline-block align-text-middle"
        />
        #YoProgramo
      </a>
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="#"
          ><i class="fab fa-facebook fs-3"></i
        ></a>
        <a class="nav-link" href="#"><i class="fab fa-twitter fs-3"></i></a>
        <a class="nav-link" href="#"><i class="fab fa-instagram fs-3"></i></a>
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </div>
  </nav>
</header>
